<!DOCTYPE html>
<html lang=""en">
<head>
    <meta charset=""UTF-8">
    <title> My Website - About</title>
</head>
<body>
    <h1>Carl A. Sharpe</h1>
    <p>I am a second year student at the University of The West Indies persuing a BSc. in Information Technology aspiring to pursue a career in cyber security. Hoping to use the knowledge and skills gained to make a positive impact in the field.</p>
    <p>In my free time, I enjoy playing video games, reading science fiction novels, and exploring new technologies. I am passionate about learning and constantly seek to expand my knowledge in various areas of interest.</p>

</body>
</html>>

